@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crete+Round&family=Roboto:wght@100&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Work Sans', sans-serif;
    align-content: center;
    overflow-x: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    gap: 30px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    position: relative;
    padding: 0px;
    align-content: center;
    gap: 30px;
}

.subtitle {
    width: 100%;
    height: auto;
    color: rgba(208, 59, 157, 1);
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    line-height: 1.4;
}

button {
    margin-top: 60;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px 15px 20px 15px;
    background-color: white;
    gap: 6;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    color: white;
    background-color: black;
    border-color: white;
    transform: scale(1.2);
}

.title {
    width: 100%;
    text-align: center;
    font-family: 'Abril Fatface';
    font-size: 174px;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 60;
    margin-bottom: 60;
}

.color-change-2x {
    -webkit-animation: color-change-2x 2s cubic-bezier(0.600, -0.280, 0.735, 0.045) infinite alternate both;
    animation: color-change-2x 2s cubic-bezier(0.600, -0.280, 0.735, 0.045) infinite alternate both;
}

@-webkit-keyframes color-change-2x {
    0% {
        color: #11a8b3;
    }

    100% {
        color: #b22cff;
    }
}

@keyframes color-change-2x {
    0% {
        color: #11a8b3;
    }

    100% {
        color: #b22cff;
    }
}

.img {
    width: 1000px;
    height: 453px;
    display: block;
    border-radius: 20px;
    margin-top: 100;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
    position: relative;
    align-content: center;
}

.card {
    background-color: #191919;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 40px 10px 10px;
    position: relative;
    gap: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.card:hover {
    color: black;
    background-color: white;
}

.img-card {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    gap: 8;
}

.rows {
    width: auto;
    height: auto;
    gap: 10px;
}

.title-card {
    width: auto;
    height: auto;
    position: relative;
    font-weight: 400;
    font-family: 'Work Sans', sans serif;
    color: #c5c3c6;
    font-size: 20px;
}

.subtitle-card {
    width: 100%;
    height: auto;
    position: relative;
    font-weight: 400;
    font-family: 'Work Sans', sans serif;
    font-size: 14px;
    text-align: center;
}

.portada {
    width: 100%;
    height: 958px;
    margin: auto;
    background: url(./img/simon-lee-smh3Gm6tH6I-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.text-img {
    color: black;
    width: auto;
    height: auto;
    font-weight: 400;
    font-family: 'Abril Fatface', sans serif;
    font-size: 82px;
    line-height: 1.2;
    text-align: center;
    position: absolute;
}

.gallery {
    background-color: black;
    height: 717px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.proceso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    align-content: flex-start;
    gap: 40px;
}

.item {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center;
    gap: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.item:hover {
    transform: scale(1.2);
}

.p-title {
    height: 30px;
    position: relative;
    font-weight: 400;
    font-family: 'Work Sans', sans serif;
    color: white;
    font-size: 20px;
    text-align: left;

}

.p-subtitle {
    width: 100%;
    height: 122px;
    position: relative;
    font-weight: 400;
    font-family: 'Work Sans', sans serif;
    color: white;
    font-size: 20px;
    text-align: left;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 60px;

}

.vector {
    width: 100px;
    height: 100px;
    display: flex;
}

ul {
    color: gray;
}